@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
.content h2, .hero a {
  background: linear-gradient(#f02aa6, #ff6f48);
}

footer a {
  background: linear-gradient(#4851ff, #f02aa6);
}

.hero h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  line-height: 120%;
  font-weight: bold;
}

.content h2, .card h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
}

.hero p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 100;
}

.card p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
}

.card a, .card a:hover, footer a, .hero a, nav a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
}

footer a, .hero a, nav a {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a, .hero a, nav a {
  height: 59px;
  width: 168px;
  border-radius: 28px;
  text-decoration: none;
}

nav a {
  background-color: #13183f;
  color: white;
}

nav a:hover {
  background-color: #666ca3;
}

.hero a {
  color: white;
}

.hero a:hover {
  color: white;
  position: relative;
}
.hero a:hover .a-overlay {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.5;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
  position: relative;
}
footer a:hover .a-overlay {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 28px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #faf9f6;
  width: 100vw;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 91px;
  padding: 16px 20px;
}
nav a {
  position: relative;
  z-index: 10;
}

.hero {
  background-color: #faf9f6;
  padding: 64px 20px;
  height: 825px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero .text-hero {
  width: 328px;
  height: 317px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero .img {
  content: url("assets/image-hero-mobile.png");
  width: 335px;
  height: 320px;
  display: block;
  margin: 0 auto;
}

.content {
  height: 2018px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 64px 20px;
  background-color: #faf9f6;
}
.content h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 122px;
  padding: 32px;
  border-radius: 15px;
  color: white;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  border-radius: 15px;
  background-color: white;
  padding: 64px 32px;
  filter: drop-shadow(0 0 0.75rem #83869a);
}
.card a {
  color: #f74780;
}
.card a:hover {
  color: #ffa7c3;
}
.card img {
  width: 56px;
  position: absolute;
  top: -20px;
}
.card p {
  color: #83869a;
}

footer {
  background-color: #13183f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 24px 44px;
}
footer img {
  width: 79.29px;
  height: 20px;
}
@media (min-width: 718px) {
  body {
    border: 1px tomato solid;
  }
  body nav {
    padding: 24px 44px;
  }
  body .hero {
    flex-direction: row;
    position: relative;
    height: 528px;
    justify-content: space-between;
    padding-left: 44px;
  }
  body .hero .img {
    content: url("assets/image-hero-desktop@2x.png");
    position: absolute;
    top: -150px;
    right: -300px;
    width: 740px;
    height: 640px;
  }
  body .content {
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  body .content h2 {
    filter: drop-shadow(0 0 0.75rem grey);
    align-self: flex-end;
    width: 350px;
    height: 300px;
  }
  body .content .card {
    margin-top: 32px;
    width: 350px;
  }
}
@media (min-width: 1024px) {
  body {
    border: blue 1px solid;
  }
  .hero {
    margin-left: 80px;
    height: 964px;
  }
  #img {
    width: 900px;
    height: auto;
    top: -250px;
    right: -200px;
  }
  body .content {
    padding: 80px 144px;
    height: 956px;
    align-content: space-around;
  }
  .text-hero h2,
  .text-hero p {
    width: 544px;
  }
}

/*# sourceMappingURL=main.css.map */
